# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pem
.config_SIM_DEBUG_x64
app
*_u.h
*_t.h
*_u.c
*_t.c
sealed_data_blob.txt
.vscode

sealed_sym_key.txt